<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CampusReporter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>487DA2D31D110EE300BBA369</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>487DA2E71D110EE300BBA369</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>487DA2F21D110EE300BBA369</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
